# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
build_artifacts/
runtime/
*.egg

# Virtualenv
.venv/
venv/

# SQLite local
config/catalogo_reglas.db

# IA summary
repomix-output.xml

# OS
.DS_Store
Thumbs.db

# Installer build leftovers
installer/_internal/
installer/RenombradorPDFHospitalario.exe
installer/HE1_Portable.zip
installer/HE1_Movable.exe
installer/HE1_Setup.exe
